doctype html
title W3.CSS Template
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
.w3-top
  .w3-bar.w3-white.w3-wide.w3-padding.w3-card
    p
      b Weekend
      |  Getaways
    .w3-right.w3-hide-small
      a.w3-bar-item.w3-button(href='/') Home
      a.w3-bar-item.w3-button(href='/login/') Login
      a.w3-bar-item.w3-button(href='/signup/') Sign Up
      a.w3-bar-item.w3-button(href='#') About
header#home.w3-display-container.w3-content.w3-wide(style='max-width:1500px;')
  img.w3-image(src='/loginv13/images/bg-01.jpg' alt='Architecture' width='1500' height='800')
  .w3-display-middle.w3-margin-top.w3-center
    h1.w3-xxlarge.w3-text-white
      span.w3-padding.w3-black.w3-opacity-min
        b WEEKEND
      span.w3-hide-small.w3-text-light-grey GETAWAYS
// Page content
.w3-content.w3-padding(style='max-width:1564px')
  // Project Section
  #projects.w3-container.w3-padding-32
    h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 PREVIOUS TRIPS
  .w3-row-padding
    .w3-col.l3.m6.w3-margin-bottom
      .w3-display-container
        .w3-display-topleft.w3-black.w3-padding MUREE
        img(src='/images/murree.jpg' alt='House' style='width:100%')
    .w3-col.l3.m6.w3-margin-bottom
      .w3-display-container
        .w3-display-topleft.w3-black.w3-padding FAISAL MOSQUE
        img(src='/images/faisal.jpg' alt='House' style='width:100%')
    .w3-col.l3.m6.w3-margin-bottom
      .w3-display-container
        .w3-display-topleft.w3-black.w3-padding NANGA PARBAT
        img(src='/images/nanga.jpg' alt='House' style='width:100%')
    .w3-col.l3.m6.w3-margin-bottom
      .w3-display-container
        .w3-display-topleft.w3-black.w3-padding KAGHAN
        img(src='/images/kag-han.jpg' alt='House' style='width:100%')
  // About Section
  #about.w3-container.w3-padding-32
    h3.w3-border-bottom.w3-border-light-grey.w3-padding-16 About
    p
      | A Platform for you to connect with new people, meet new people, explore the world and see its beauty with your own naked eyes.Adventure refers to the exciting activity or unusual experience. These experiences are often of daring or risky nature. There are many people whose life is filled up with adventurous experiences.
      | The definition of Adventure varies from person to person. It is in actually defined as &lsquo;a risky undertaking of unknown outcome&rsquo; which means that an adventurer is one who gets a thrill out of exploits, the result of which may also be dangerous or if in favour, then sublime. Ballooning is a sport which has a lot of scope for adventure; of course it is only for those who can afford it, being a costly proposition. The element of risk is always there with the change of weather and balloons filled with helium prone to lightning and leaks. One can imagine the thrill of rising high into the sky without the drone of an engine and with the advantage of being able to control the direction. The risk factor also is great like the attempts at crossing the Atlantic where these contraption have fallen into oceans after facing turbulent weather or landed on top of mountains with the occupant not equipped to get down to inhabited areas.Adventures are also persons who are interested in exploring the great spaces. Astronauts have the thrill of adventure when flying off to space on top of rockets.
      | Leaving aside sports, several persons are thrilled by risky financial ventures which are capable of making or breaking them. Adventurers dabble in the Stock Market, in Shares which can shoot up or zoom down without even the experts being able to forecast it. This has become a favorite profession of the entrepreneurs who are interested in growing rich fast and are also ready to take the extreme risks involved in this. However such adventure is only for the brave hearted people and they believe in the age old adage of &lsquo;NO RISK, NO GAIN&rsquo;.
  .w3-row-padding.w3-grayscale
    .w3-col.l3.m6.w3-margin-bottom
      // <img src="/w3images/team2.jpg" alt="John" style="width:100%">
      // <h3>Irtaza Fayaz</h3>
      .w3-black.w3-padding IRTAZA FAYAZ
      p.w3-opacity CEO &amp; Founder
      p You don&apos;t want to regret all your life for not joining us, or do you?
      // <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    .w3-col.l3.m6.w3-margin-bottom
      // <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
      .w3-black.w3-padding AFRASIYAB
      p.w3-opacity Co-founder
      p We hope you will enjoy our company.
      // <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    .w3-col.l3.m6.w3-margin-bottom
      // <img src="/w3images/team3.jpg" alt="Mike" style="width:100%">
      .w3-black.w3-padding AHMAD MUSHTAQ
      p.w3-opacity Manager
      p Come, explore with us.
      // <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    .w3-col.l3.m6.w3-margin-bottom
      // <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
      .w3-black.w3-padding AHMAD BILAL
      p.w3-opacity Managing Director
      p Live your life to the fullest and join us.
      // <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    .w3-col.l3.m6.w3-margin-bottom
      // <img src="/w3images/team4.jpg" alt="Dan" style="width:100%">
      .w3-black.w3-padding UMAIR RANA
      p.w3-opacity Architect
      p Don&apos;t sit there, come join us.
      // <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap')
  //
    To use this code on your website, get a free API key from Google.
    Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp

 