extends admin

block content
  style.
    input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    }
    input[type=text2], select {
    width: 50%;
    padding: 25px 50px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    }
    input[type=date], select {
    width: 20%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    }
    input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #3CBC8D;
    color: white;
    }
    input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    input[type=submit]:hover {
    background-color: #45a049;
    }
    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
  form(method = 'post',action="/admin/"+ output +"/trippsss")
    label(for='loc') Location
    input#loc(type='text' name='location' placeholder='' required='')
    br
    label(for='Deperture Date') Deperture Date
    input(type='date' name='dep' data-date-inline-picker='true')
    br
    label(for='Arrival Date') Arrival Date
    input(type='date' name='ari' data-date-inline-picker='true')
    br
    label(for='cost') Cost
    input#cost(type='text' name='cost'  placeholder='how much coustomer has to pay' required='')
    br
    label(for='details') Details
    input#details(type='text2' name='details' placeholder='Every Detaile about Trip' required='')
    br
    label(for='route') Route
    input#route(type='text2' name='route' placeholder='you just have to give the compleat Route' required='')
    br
    label(for='seats') Seats
    input#seats(type='text' name='seats' placeholder='how much seaats are avalibe ' required='')
    br
    label(for='spoint') Stay Point
    input#spoint(type='text' name='spoint' placeholder='where the stay points in trip' required='')
    br
    label(for='finame') File Name
    input#finame(type='text' name='finame' placeholder='file name' required='')
    br
    input(type='submit' value='SAVE')
