doctype html
title W3.CSS Template
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
// ===============================================================================================
link(rel='icon' type='image/png' href='/admin/images/icons/favicon.ico')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/admin/vendor/bootstrap/css/bootstrap.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/admin/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/admin/vendor/animate/animate.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/admin/vendor/select2/select2.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/admin/vendor/perfect-scrollbar/perfect-scrollbar.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/admin/css/util.css')
link(rel='stylesheet' type='text/css' href='/admin/css/main.css')
style.
  body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
// Sidebar/menu
nav#mySidebar.w3-sidebar.w3-collapse.w3-white.w3-animate-left(style='z-index:3;width:300px;')
  br
  .w3-container
    a.w3-hide-large.w3-right.w3-jumbo.w3-padding.w3-hover-grey(href='#' onclick='w3_close()' title='close menu')
      i.fa.fa-remove
    img.w3-round(src='/images/4.png' style='width:45%;')
    br
    br
    h4
      b #{output}
    br
  .w3-bar-block
    //
      <a href="#portfolio" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>PORTFOLIO</a>
      <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>ABOUT</a>
      <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-envelope fa-fw w3-margin-right"></i>CONTACT</a>
    a(href="/admin/"+ output +"/edit")
        button.w3-button.w3-white.w3-hide-small
            i.fa.fa-map-pin.w3-margin-right
            | Edit Profile
    br
    a(href="/admin/"+ output +"/signout")
        button.w3-button.w3-white.w3-hide-small
            i.fa.fa-map-pin.w3-margin-right
            | Signout
#myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()' style='cursor:pointer' title='close side menu')
// !PAGE CONTENT!
.w3-main(style='margin-left:300px')
  // Header
  header#portfolio
    a(href='#')
      img.w3-circle.w3-right.w3-margin.w3-hide-large.w3-hover-opacity(src='/images/4.png' style='width:65px;')
    span.w3-button.w3-hide-large.w3-xxlarge.w3-hover-text-grey(onclick='w3_open()')
      i.fa.fa-bars
    .w3-container
      h1
        b My Portfolio
      .w3-section.w3-bottombar.w3-padding-16
        span.w3-margin-right Filter:
        a(href="/admin/"+ output +"/users")
            button.w3-button.w3-white.w3-hide-small
                i.fa.fa-photo.w3-margin-right
                | View Users
        a(href="/admin/"+ output +"/trippss")
            button.w3-button.w3-white.w3-hide-small
                i.fa.fa-photo.w3-margin-right
                | View Trips
        a(href="/admin/"+ output +"/reviews")
            button.w3-button.w3-white.w3-hide-small
                i.fa.fa-map-pin.w3-margin-right
                | View Reviews
        // <button class="w3-button w3-white w3-hide-small"><i class="fa fa-map-pin w3-margin-right"></i>Edit Profile</button>
        a(href="/admin/"+ output +"/contacts")
            button.w3-button.w3-white.w3-hide-small
                i.fa.fa-map-pin.w3-margin-right
                | View Contacts
        a(href="/admin/"+ output +"/trippsss")
            button.w3-button.w3-white.w3-hide-small
                i.fa.fa-map-pin.w3-margin-right
                | ADD TRIP
  block content
        



