doctype html
h2 HTML Forms
form(method = 'post',action='/contact/')
  | User name:
  br
  input(type='text' name='firstname' value='Mickey Mouse')
  br
  |   Email:
  br
  input(type='text' name='email' value='sample123@gmail.com')
  br
  | Message:
  br
  input(type='text' name='message' value='how are you.')
  br
  input(type='submit' value='SUBMIT')
