doctype html
title Weekend Getaways
meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open Sans')
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Karma')
link(rel='icon' type='image/png' href='/loginv18/images/icons/favicon.ico')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/vendor/bootstrap/css/bootstrap.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/vendor/animate/animate.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/vendor/css-hamburgers/hamburgers.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/vendor/animsition/css/animsition.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/vendor/select2/select2.min.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/vendor/daterangepicker/daterangepicker.css')
// ===============================================================================================
link(rel='stylesheet' type='text/css' href='/loginv18/css/util.css')
link(rel='stylesheet' type='text/css' href='/loginv18/css/main.css')

style.
  body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
  .w3-bar-block .w3-bar-item {padding:20px}
  h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
  body {font-family: "Open Sans"}
// Navbar (sit on top)
.w3-top
  .w3-bar.w3-white.w3-wide.w3-padding.w3-card
    p 
      b Weekend
      |  Getaways
    // Float links to the right. Hide them on small screens
    .w3-right.w3-hide-small
      a.w3-bar-item.w3-button(href='/') Home
      a.w3-bar-item.w3-button(href='/login/') Login
      a.w3-bar-item.w3-button(href='/signup/') Sign Up
      a.w3-bar-item.w3-button(href='/about/') About
block content