doctype html


head
  title Login V13
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='/loginv13/images/icons/favicon.ico')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/fonts/iconic/css/material-design-iconic-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/vendor/daterangepicker/daterangepicker.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='/loginv13/css/util.css')
  link(rel='stylesheet' type='text/css' href='/loginv13/css/main.css')
  // =========================================/======================================================
  script(type='text/javascript', src='lib.js')

body
  .w3-top
    .w3-bar.w3-white.w3-wide.w3-padding.w3-card
      .w3-right.w3-hide-small
        a.w3-bar-item.w3-button(href='/') Home
        a.w3-bar-item.w3-button(href='/login/') Login
        a.w3-bar-item.w3-button(href='#') Sign Up
        a.w3-bar-item.w3-button(href='/about/') About
  .limiter
    .container-login100
      .login100-more(style="background-image: url('/images/8.jpg');")
      .wrap-login100.p-l-50.p-r-50.p-t-72.p-b-50
        form.login100-form.validate-form(method='post' url='/signup/')
          span.login100-form-title.p-b-59
            | Sign Up
          .wrap-input100.validate-input(data-validate='First Name is required')
            span.label-input100 First Name
            input.input100(type='text' name="firstname" placeholder='First Name...')
            span.focus-input100
          .wrap-input100.validate-input(data-validate='Lastname is required')
            span.label-input100 Lastname
            input.input100(type='text' name="lastname" placeholder='Last Name...')
            span.focus-input100
          .wrap-input100.validate-input(data-validate='Valid email is required: ex@abc.xyz')
            span.label-input100 Email
            input.input100(id='emailbox' type='text' name="email" placeholder='Email addess...')
            span.focus-input100
          .wrap-input100.validate-input(data-validate='Phone is required')
            span.label-input100 Cell No
            input.input100(type='text' name="cell" placeholder='Cell Number...')
            span.focus-input100
          .wrap-input100.validate-input(data-validate='Password is required')
            span.label-input100 Password
            input.input100(type='text' name="password" placeholder='*************')
            span.focus-input100
          .wrap-input100.validate-input(data-validate='Repeat Password is required')
            span.label-input100 Repeat Password
            input.input100(type='text' name="re_password" placeholder='*************')
            span.focus-input100
          .flex-m.w-full.p-b-33
            .contact100-form-checkbox
              input#ckb1.input-checkbox100(type='checkbox' name='remember-me')
              label.label-checkbox100(for='ckb1')
                span.txt1
                  | I agree to the
                  a.txt2.hov1(href='#')
                    | Terms of User
          .container-login100-form-btn
            .wrap-login100-form-btn
              .login100-form-bgbtn
              button.login100-form-btn(onclick='direct()')
                | Sign Up
          p #{output}
            //
              <a href="#" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
              Sign in
              <i class="fa fa-long-arrow-right m-l-5"></i>
              </a>
  // ===============================================================================================
  script(src='/loginv13/vendor/jquery/jquery-3.2.1.min.js')
  // ===============================================================================================
  script(src='/loginv13/vendor/animsition/js/animsition.min.js')
  // ===============================================================================================
  script(src='/loginv13/vendor/bootstrap/js/popper.js')
  script(src='/loginv13/vendor/bootstrap/js/bootstrap.min.js')
  // ===============================================================================================
  script(src='/loginv13/vendor/select2/select2.min.js')
  // ===============================================================================================
  script(src='/loginv13/vendor/daterangepicker/moment.min.js')
  script(src='/loginv13/vendor/daterangepicker/daterangepicker.js')
  // ===============================================================================================
  script(src='/loginv13/vendor/countdowntime/countdowntime.js')
  // ===============================================================================================
  script(src='/loginv13/js/main.js')
  // ===============================================================================================
  script(src='/loginv13/js/ahmad.js')

  script(type='text/javascript').
    var check='b';
    $( "#emailbox" ).keyup(function() {
    //alert( "Handler for .keyup() called." );

    var parameters = { em: $(this).val() };
    //output='asasas';
    //alert( "Handler for .keyup() called." );
    $.get("/searching", parameters, function(data) {
      check=data;
      if(data=='a'){
        alert( "email exist" );
      }

    });

    });  

    var direct = function() {
   
    if(check!='a'){
      //$.post("/signup/");
      //-----------------------------
      //url="/signup/";
      //var xmlHttp = new XMLHttpRequest();
      //xmlHttp.open( "POST", url, true ); // false for synchronous request
      //xmlHttp.send( );
      
      //alert( "redirect one" );
      
      //var n=null;
      //$.get("/Psignup/",n,function(){});
      //redirect('/localhost:3000/login/');
      
      //window.location.href = "http://localhost:3000/Psignup/";
      
      //alert( "redirect one" );
      

      
    }
    
    };

    